body{
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0d6ed, #e5d5f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Roboto";
}

button{
    border: none;
}
ul{
    list-style: none;
}

.titleBox{
   margin: 10px auto auto 10px;
   width: 100%;
}
.titleBox h1{
     color: #370b50;
     font-style: italic;
     text-align: center;
}

 h3{
  padding: 5px;
  text-align: center;
  }

.messageContainer{
color: #6600cc;
font-size:1.3em;
font-style:italic;
text-align:center;
}
.logDiv{
color:#33334d;
font-size:1.3em;
font-style:italic;
text-align:center;
}
.titleDivNo {
color:red;
font-style:italic;
text-align:center;
text-transform: uppercase;
}
.titleDiv{
color:#990099;
font-size:1.2em;
font-style:italic;
text-align:center;
text-transform: uppercase;
}
/*===========================================*/
/* ********* NAVBAR *********************** */
.navBar{
color: white;
position: sticky;
top: 0;
z-index: 100;
}
/* ***********FIRSTNAVBAR **************** */
.firstNavBar{
    background-image: linear-gradient(#620662, #6c3b6c);
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    text-transform: uppercase;
}

.firstNavBar ul{
    margin-right: auto;
}

.firstNavBar ul li{
    display:inline-flex;
    padding: 5px ;
    position: relative;
}
.firstNavBar .userDiv{
    display: inline-flex;
    position: relative;
    padding: 5px 0px;

}

.firstNavBar .userDiv ul li{
    margin-right: 10px;
}

.firstNavBar ul li a{
    color:white;
    text-decoration:none;
}

.firstNavBar ul li i{
    color: white;
}

.firstNavBar ul li a:hover,
.firstNavBar ul li i:hover{
    color: lime;
}

.firstNavBar ul li .dropdownList{
    display: none;
}
.firstNavBar ul li:hover .dropdownList{
  background-color: #620662;
  border-radius: 6px;
  box-shadow: 0px 20px 150px 0px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  margin-top: 18px;
  width: 100%;
}

.logo{
    background-size: cover;
    margin-left: 10px;
    margin-top: 2px;
    height:60px;
    width:150px;
}
.logoImg{
    height: 60px;
    width: 150px;
    object-fit: cover;
 }
.menu{
    display: none;
}

.menuLine{
    background-color: white;
    height: 3px;
    margin-bottom: 4px;
    width: 20px;
}

/*===============SEARCH BAR STYLIZATION ===============*/
.filterBar{
    align-items: center;
    color:white;
    display: flex;
    background-image: linear-gradient(#6c3b6c, #620662);
    justify-content: flex-start;
}
 .container .itemContainer{
    display: inline-flex;
    padding: 8px 8px;
}
.textFilter{
    padding: 0 10px 0 10px;
}
.itemContainer a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.itemContainer a:hover, .itemContainer .searchIcon:hover {
    color:lime;


}
.itemContainer .selectTxt{
    background-color: #721c72;
    box-sizing: border-box;
    border: 1px solid #8d1673;
    color: white;
    font-size: 1rem;
    padding: 2px ;
    outline:solid 1px #660063;
}
.itemContainer .selectTxt:focus{
    border: 1px solid rgb(32, 158, 32);
    outline: 1px solid lime;
    color: lime;
}
.itemContainer .searchIcon{
    color: white;
    font-size: 1rem;
}
.itemContainer button{
    background-color: #56144e;
    border-radius: 4px;
    padding: 3px;
}
.menuFilter{
    display: none;
}
.menuFilterLine{
    background-color: white;
    height: 2.5px;
    margin-bottom: 3px;
    width: 20px;
}

/*==============================================*/
/*MAIN CONTENT  STYLIZATION*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;

}

 .column{
    position: relative;
     background-color: aliceblue;
     border-radius: 15px;
     font-family: "Montserrat";
     font-size: 1.2em;
     height:420px;
      margin: 5px 2px 2px 5px;
     width: 240px;
}
.column h3{
    color:  #1b011b;
    text-align: center;
}
.imageBox{
    background-size: cover;
    border-radius: 15px 15px 0 0;
    display: flex;
    height: 250px;

}

.imgProd{
    border-radius: 15px 15px 0 0;
    height: 250px;
    width: 240px;
    object-fit: cover;

}

.column .priceDiv{
   margin:3px 5px;
   font-family: "Nunito";
   padding:0 5px;

}

.column .stockDiv{
   margin:3px 5px;
   font-family: "Nunito";
   padding:0 5px;
 }
 .btnBox{
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    height: 40px;
  }
.btnBox button{
    font-family: "Poppins";
    font-size: 1rem;
    font-weight:700;
    padding: 5px;
    margin-bottom: 3px;
    opacity: 0.7;
    width: 100%;
}

  .btnBox .openmodal{
    background-color:steelblue;
    color:#bcf906;
  }
  .btnBox .byBtn{
      background-color: teal;
      border-radius: 5px 5px 10px 10px;
      color: #00e600;
  }
.btnBox a{
    color: #00e600;;
    text-decoration:none;
}
  .btnBox button:hover{
    color: whitesmoke;
    opacity: 0.9;
  }
  .btnBox a:hover{
         color: whitesmoke;
  }

  /*==============================================*/
/* *** MODAL STILIZATION *** */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modalTitle{
      text-align: center;
      padding: 10px;
  }


  /* Modal Content/Box */
  .modalContent {
    background-color:aliceblue;
    font-family: "Roboto";
    margin: 15% auto;
    padding: 20px;
    position: relative;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
 .row{
    align-items: center;
    display: flex;
    justify-content: center;

 }
 .col{
    width:50%;
    }
 .myDiv{
     margin-bottom: 3px;
 }
  .imgModal{
    background-size: cover;
    border-radius:10px;
    height: 70%;
    width: 90%;
}
.modalImg{
    border-radius:10px;
    height: 70%;
    width: 90%;
    object-fit: cover;
}

.modalImg:hover{
    transform: scale(1.1);

}

/* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right:20px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalByBtn{
        background-color: #3d3d5c;
        color: rgb(168, 173, 177);
        font-size: 1.08em;
        margin-top: 7px;
        padding: 3px;
        opacity: 0.6;
        width: 100%;
    }
 .modalByBtn a, .modalByBtn i{
  color: rgb(168, 173, 177);
  text-decoration:none;
  }
    .modalByBtn:hover{
        color:aqua;
        opacity: 0.9;
    }

    .showModal{
            display: block;
        }
    .closeModal{
            display: none;
        }

/*===========================================================*/
/* *****************MEDIA**************************** */
/* for laptops */
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .modalContent{
        margin: 90px auto auto auto;
        width: 60%;
    }
    .filterBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
    }
    .filterBar .filterHeader{
        padding: 5px;
        width: 100%;
    }
    .container{
        display: none;
        padding-top: 10px;
        width:100%;
    }
     .container .itemContainer{
        display: block;
        border-top:1px solid whitesmoke;
    }
    .container .itemContainer:last-child{
        border-bottom:1px solid whitesmoke;
    }

    .filterActive{
        display: block;
    }
    .menuFilter{
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
    }
}
/* for large tablets */
@media only screen and (min-width: 769px) and (max-width: 990px) {
    .firstNavBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }
    .firstNavBar .logo{
        margin: auto;
    }

    .firstNavBar .logoImg{
        width: 100%;
    }
 .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

.navList{
    display: none;
    width:100%;
    }
    .userDivList{
        display: none;
        width:100%;
    }
     .userDivList .userListItem{
        display: block;
        border-top:1px solid white;
        padding-left: 2px;
        margin-top: 5px;

    }

 .navList .listItem{
        display: block;
        border-top:1px solid white;
        margin-top: 5px;
    }
    .firstNavBar ul li:hover .dropdownList
{
  display: block;
  position: absolute;
  margin-top: 2px;
  background-color: #620662;
  border-radius: 6px;
  width: 90%;
  padding: 2px 2px;
  box-shadow: 0px 20px 150px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

    .ul .li:last-child{
        border-bottom:1px solid white;
        margin-bottom: 5px;
    }
    .active{
        display: block;
    }
    .modalContent{
        margin: 90px auto auto auto;
        width: 70%;
    }
    .filterBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
    }
    .filterBar .filterHeader{
        padding: 5px;
        width: 100%;
    }
    .container{
        display: none;
        padding-top: 10px;
        width:100%;
    }
     .container .itemContainer{
        display: block;
        border-top:1px solid whitesmoke;
    }
    .container .itemContainer:last-child{
        border-bottom:1px solid whitesmoke;
    }

    .filterActive{
        display: block;
    }
    .menuFilter{
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
    }
}

/* for smaller tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .firstNavBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }
    .firstNavBar .logo{
        margin: auto;
    }

    .firstNavBar .logoImg{
        width: 100%;
    }
 .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

.navList{
    display: none;
    width:100%;
    }
    .userDivList{
        display: none;
        width:100%;
    }
     .userDivList .userListItem{
        display: block;
        border-top:1px solid white;
        padding-left: 2px;
        margin-top: 5px;

    }

 .navList .listItem{
        display: block;
        border-top:1px solid white;
        margin-top: 5px;
    }
    .firstNavBar ul li:hover .dropdownList
{
  display: block;
  position: absolute;
  margin-top: 2px;
  background-color: #620662;
  border-radius: 6px;
  width: 90%;
  padding: 2px 2px;
  box-shadow: 0px 20px 150px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

    .ul .li:last-child{
        border-bottom:1px solid white;
        margin-bottom: 5px;
    }
    .active{
        display: block;
    }
    .modalContent{
        margin: 90px auto auto auto;
        width: 80%;
    }
    .filterBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
    }
    .filterBar .filterHeader{
        padding: 5px;
        width: 100%;
    }
    .container{
        display: none;
        padding-top: 10px;
        width:100%;
    }
     .container .itemContainer{
        display: block;
        border-top:1px solid whitesmoke;
    }
    .container .itemContainer:last-child{
        border-bottom:1px solid whitesmoke;
    }

    .filterActive{
        display: block;
    }
    .menuFilter{
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
    }
}

/* for cellphones */
@media only screen  and (max-width: 480px) {
    .firstNavBar{
        border-bottom: 1px solid white;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }
    .firstNavBar .logo{
        margin: auto;
    }

    .firstNavBar .logoImg{
        width: 100%;
    }
 .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

.navList{
    display: none;
    width:100%;
    }
    .userDivList{
        display: none;
        width:100%;
    }
     .userDivList .userListItem{
        display: block;
        border-top:1px solid white;
        padding-left: 2px;
        margin-top: 5px;

    }

 .navList .listItem{
        display: block;
        border-top:1px solid white;
        margin-top: 5px;
    }
    .firstNavBar ul li:hover .dropdownList
{
  display: block;
  position: absolute;
  margin-top: 2px;
  background-color: #620662;
  border-radius: 6px;
  width: 90%;
  padding: 2px 2px;
  box-shadow: 0px 20px 150px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

    .ul .li:last-child{
        border-bottom:1px solid white;
        margin-bottom: 5px;
    }
    .active{
        display: block;
   }
    .modalContent{
        margin: 90px auto auto auto;
        width: 80%;
    }

}
