/* Container rules*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 30%;
  }
/*signup RULES*/
.signUpContainer {
    background-color: rgb(241 243 251);
    border-radius: 10px 10px 0 0;
    display: block;
    font-size: 1.2em;
    margin:40px auto auto auto;
    width:100%;
}

.signUpContainer form{
    padding: 10px;
}

.signUpContainer fieldset{
    border: 1px solid #0b3278;
    border-radius: 10px 10px 0  0;
    padding: 5px;
}

.signupContainer legend{
    color: #0b3278;
    font-size: 1.3rem;
    font-style: italic;
}
.signUpContainer .icon{
    color: #0b3278;
    font-size: 1em;
}

.signUpContainer .iconP{
    color: #0b3278;
    opacity: 0.7;
    font-size: 1em;
}

.signUpContainer .iconP:hover{
    opacity: 1;
}
.signUpContainer input{
    border:solid 1px #0b3278;
    outline:solid 1px silver;
    font-size: 1rem;
    padding: 2px 0;
    width: 86%;
}
.inputContainer{
    padding-bottom: 3px ;
}

.signUpContainer .btn{
    background-color:#0b3278;
    color: white;
    font-size: 1em;
    padding: 3px;
    margin: 5px 0;
    opacity: 0.6;
    width: 100%;
}
.signUpContainer .btn:hover{
    opacity: 1;
}
/*Login container rules*/
.loginContainer{
    padding: 5px 0px 5px 10px;
}
.loginContainer span, a{
    float: right;
    margin-right: 10px;
}
/* ********MEDIA********

    /* for laptops */
@media only screen and (min-width: 991px) and (max-width: 1200px){

    .container{
        display: flex;
        width: 40%;
    }
    .container .loginContainer, .container .signUpContainer{

        width: 100%;
    }
    .signUpContainer #pwd{
        width: 75%;
    }
}

  /* for large tablets */
@media only screen and (min-width: 769px) and (max-width: 990px){
    .container{
        display: flex;
        width: 45%;
    }
    .container .loginContainer, .container .signUpContainer{

        width: 100%;
    }
     #pwd{
        width: 80%;
    }
}

/* for smaller tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .container{
        display: flex;
        width: 60%;
    }
     .loginContainer, .signUpContainer
   {

        width: 100%;
    }
   #pwd {
        width: 80%;
    }

}

/* for cellphones */
@media only screen  and (max-width: 480px){
    .container{
        display: flex;
        width: 50%;
    }
    .container .loginContainer, .container .signUpContainer{
        font-size: 1.05em;
        width: 100%;
    }
    .signUpContainer #pwd {
        width: 70%;
    }
}