<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer view shipping addresses</title>
    <link rel="stylesheet" href="css/addresses.css" th:href="@{/css/addresses.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300;1,400&family=Noto+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap">

</head>
<body>
<div class="header">

    <h3 th:text="${message}"></h3>
</div>
<table>
    <caption>Lista adrese</caption>
        <thead>
            <tr>
                <th scope="col">Denumire</th>
                <th scope="col">Oraș</th>
                <th scope="col">Adresă</th>
                <th scope="col">Telefon</th>
                <th scope="col">Actualizare</th>
                <th scope="col">Șterge</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="shippingAddress:${shippingAddresses}">
                <td scope="row" data-label="Denumire" th:text="${shippingAddress.name}"></td>
                <td data-label="Oraș" th:text="${shippingAddress.city}"></td>
                <td data-label="Adresa" th:text="${shippingAddress.address}"></td>
                <td data-label="Telefon" th:text="${shippingAddress.phone}"></td>
                <td data-label="Actualizare" >
                    <button class="actionBtn" id="editBtn">
                        <a  th:href="@{/customer/shippingAddress/update/form/{idShippingAddress}(idShippingAddress=${shippingAddress.idShippingAddress})}">
                            Actualizează
                        </a>
                    </button>
                </td>
                <td data-label="Șterge" >
                    <button class="actionBtn" id="delBtn">
                        <a th:href="@{/customer/delete/shippingAddress/{idShippingAddress}(idShippingAddress=${shippingAddress.idShippingAddress})}"
                           onclick="return confirm('Are you sure you want to delete this address?');">
                            <i class="far fa-trash-alt">Șterge</i>
                        </a>
                    </button>
                </td>
            </tr>
        </tbody>
</table>
<!--BUTTONS BOX-->
<div class="col">
    <div class="row">
        <button class="btn" id="home-btn">
            <a th:href="@{/}">
                <i class="bi bi-house-fill">Acasă</i>
            </a>
        </button>
        <button class="btn" id="add-btn">
            <a th:href="@{/customer/add/address/form}">
                <i class="bi bi-person-badge-fill">Adaugă adresă</i>
            </a>
        </button>
    </div>
</div>

</body>
</html>