<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer registration</title>
    <link rel="stylesheet" href="/css/register.css" th:href="@{/css/register.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="css/customerSignUp.css" th:href="@{/css/customerSignUp.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300;1,400&family=Noto+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap">
    <script async defer src="/js/customerRegistration.js" th:src="@{/js/customerRegistration.js}"></script>

</head>
<body>

<div class="container">
    <div class="AlertDiv" th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered
            to our awesome app!</div>
    </div>
    <!--CONTAINER--th:onclick="return validateElements(event)"-->
    <div class="signUpContainer">
        <form method="post" th:action="@{/customer/registration}" th:object="${customer}" id="signUpCustomerForm")>
            <fieldset>
                <legend>SignUp form customer</legend>
                <!--NAME-->
                <div class="lblField">
                    <label>Nume complet:</label>
                </div>
                <div class="inputContainer">
                    <i class="bi bi-person-fill icon"></i>
                    <input class="input-field" type="text" title="Introdu cel puțin 4 caractere" th:field = "*{fullName}" onfocus="this.value=''" placeholder="Full name" id="fullNameTxt" required/>
                    <span class="hide" id="errorMessageN">Minim 4 caractere!</span>
                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></span>
                </div>
                <!--PHONE-->
                <div class="lblField">
                    <label>Telefon:</label>
                    <span class="hide" id="errorMessagePh">Introdu un număr de telefon valid!</span>
                </div>
                <div class="inputContainer">
                    <i class="bi bi-telephone-fill icon"></i>
                    <input class="input-field" type="tel" title="Introdu un număr de telefon valid din 10 cifre" onfocus="this.value=''" th:field = "*{phone}" placeholder="enter phone number" id="phoneTxt" required/>
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>
                </div>
                <!--PASSWORD th:onclick="togglePassword()"-->
                <div class="lblField">
                    <label>Parola:</label>
                    <span class="hide" id="errorMessageP">Parola cel puțin 4 caractere dintre care o cifră!</span>
                </div>
                <div class="inputContainer">
                    <i class="bi bi-key-fill icon"></i>
                    <input class="input-field" type="password" title="Parola trebuie să conțină cel puțin 4 caractere din care o cifră" onfocus="this.value=''" th:field = "*{password}"  id="pwd" placeholder="Enter Password" required/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                    <span>
                            <i class="bi bi-eye-fill iconP"  type="button" id="togglePwdBtn" ></i>
                        </span>
                </div>
                <!--USERNAME-->
                <div class="lblField">
                    <label>Nume utilizator:</label>
                    <span class="hide" id="errorMessageU">Numele utilizatorului trebuie să conțină cel puțin 4 caractere!</span>
                </div>
                <div class="inputContainer">
                    <i class="bi bi-person-circle icon"></i>
                    <input class="input-field" type="text" onfocus="this.value=''" th:field = "*{username}" placeholder="@ email as username" title="Folosește adresa de email" id="userNameTxt" required/>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                </div>
                <!--EMAIL-->
                <div class="lblField">
                    <label>Email:</label>
                    <span class="hide" id="errorMessageE">Adresa de email trebuie să fie o adresă de email validă</span>
                </div>
                <div class="inputContainer">
                    <i class="bi bi-envelope-fill icon"></i>
                    <input class="input-field" type="email" title="Introdu o adresă de email validă" onfocus="this.value=''" th:field = "*{email}" placeholder="@ email" id="emailTxt" required/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </div>

                <button type="submit" class="btn" id="submitBtn" >Register</button>

            </fieldset>
        </form>
    </div><!--END SIGNUP CONTAINER  th:onclick="validateElements()"-->
    <div class="loginContainer">
                <span>Ai deja un cont? <a href="/" th:href="@{/login}">LogIn aici
                    </a></span>
    </div>


</div><!--END CONTAINER th:inline="javascript" -->





</body>
</html>