<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products filtered by origin</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="css/customerFilteredProducts.css" th:href="@{/css/customerFilteredProducts.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <script async defer src="/js/customerFilterOrigin.js" th:src="@{/js/customerFilterOrigin.js}" ></script>
</head>
<body>
<!--NAVBAR-->
<nav class="navBar">
    <!--FIRST NAVBAR-->
    <div class="firstNavBar">
        <!--LOGO-->
        <div class="logo">
            <a href="" class="logoLink"> <img src="images/forYouLogoWhite.png" th:src="@{/images/forYouLogoWhite.png}" alt="Logo missing..."  class="logoImg"></a>
        </div>
        <!--NAV LIST-->
        <ul class="navList" id="navListId">
            <li class="listItem">
                <a href="" th:href="@{/}"><i class="bi bi-house-fill"></i>Home</a>
            </li>
            <li class="listItem">
                <a href=""><i class="bi bi-envelope-fill"></i>Contact me</a>
            </li>
        </ul>

        <div class="userDiv">
            <ul class="userDivList" id="customerDivId">
                <li class="userListItem">
                    <a href="" sec:authorize="isAuthenticated()"><i class="bi bi-geo-alt-fill"></i>Adresa de livrare</a>
                    <!--DROPDOWN LIST-->
                    <ul class="dropdownList">
                        <li class="dropdownItem"><a href="" sec:authorize="isAuthenticated()" th:href="@{/customer/add/address/form}">Adaugă adresă</a></li>
                        <hr>
                        <li class="dropdownItem"><a href="" sec:authorize="isAuthenticated()" th:href="@{/customer/shippingAddresses}">Listă adrese</a></li>
                    </ul>
                </li>
                <li class="userListItem">
                    <a href="#" sec:authorize="isAuthenticated()" th:href="@{/customer/view/cart/form}"><i class="bi bi-cart-fill"></i>Coș</a>
                </li>

                <li class="userListItem">
                    <a href="" th:href="@{/logout}" sec:authorize="isAuthenticated()"><i class="bi bi-box-arrow-left"></i>Logout</a>
                </li>

                <li class="userListItem">
                    <a href=""><i class="bi bi-box-arrow-in-right"></i>Register</a>
                    <!--DROPDOWN LIST-->
                    <ul class="dropdownList">
                        <li class="dropdownItem"><a href="" th:href="@{/login}">LogIn</a></li>
                        <hr>
                        <li class="dropdownItem"><a href="" th:href="@{/customer/registration}">SignUp</a></li>
                    </ul>

                </li>
            </ul>
        </div>

        <!--HAMBURGER MENU-->
        <div class="menu" id="toggleBtn">
            <div class="menuLine"></div>
            <div class="menuLine"></div>
            <div class="menuLine"></div>
        </div>
    </div><!--End First Navbar-->

    <!-- STARING FILTER BAR-->
    <div class="filterBar" >
        <div class="textFilter">
            <h4 class="filterHeader">Filtrează produsele</h4>
        </div>
        <div class="container" id="navFilterListId">
            <div class="itemContainer">
                <a href="" th:href="@{/available/products}">Produse disponibile</a>
            </div>

            <div class="itemContainer">
                <form class="filterForm" th:action="@{/customer/available/category}" method="get">
                    <select class="selectTxt" name="idCategory">
                        <option value="">Alege categorie</option>
                        <option th:each="category:${categoryList}" th:value="${category.idCategory}" th:text="${category.categoryName}"></option>
                    </select>
                    <button type="submit"><i class="bi bi-binoculars-fill searchIcon" type="button"></i></button>
                </form>
            </div>
            <div class="itemContainer">
                <form class="filterForm" th:action="@{/customer/available/category/origin}" method="get">
                    <label>Produse categorie si origine</label>
                    <select class="selectTxt" name="idCategory">
                        <option value="">Alege categoria</option>
                        <option th:each="category:${categoryList}" th:value="${category.idCategory}" th:text="${category.categoryName}"></option>
                    </select>
                    <select class="selectTxt" name="origin" id="origin">
                        <option value="">Alege origine</option>
                        <option th:each="origin:${origins}" th:value="${origin}" th:text="${origin}"></option>
                    </select>
                    <button type="submit">
                        <i class="bi bi-binoculars-fill searchIcon" type="button"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="menuFilter" id="toggleFilterBtn">
            <div class="menuFilterLine"></div>
            <div class="menuFilterLine"></div>
            <div class="menuFilterLine"></div>
        </div>
    </div><!-- ENDING FILTER BAR-->
    <!--END NAV-->
</nav>

<div class="titleBox">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>

    <div class="messageContainer" th:if="${customer != null}">
        <span>Bine ai venit </span><span th:if="${customer!= null}" th:text="${customer.fullName}" class="messageTxt"></span><span> !</span>
    </div>
    <h3 class="message-txt" th:text="${message}"></h3>
    <div class="logDiv" th:if="${param.logout}">
        <span>Ai fost deconectat.</span>
    </div>
    <div class="titleDiv" th:if="${not #lists.isEmpty(products)}">
        <span >Produse disponibile din</span>
        <span  th:text="${origin}"></span>
    </div>
    <div  class="titleDivNo" th:if="${#lists.isEmpty(products)}">
        <span >Nu există produse disponibile din </span>
        <span th:text="${origin}"></span>
        <span> !!!</span>
    </div>
</div>

<!--MAIN-->
<main th:if="${not #lists.isEmpty(products)}">

    <div class="column" th:each="product:${products}">
        <div class="imageBox">
            <img  th:src="*{'data:image/jpg;base64,'+ product.imageAsString}"  alt="picture missing..."  class="imgProd"/>
        </div>
        <h3 th:text="${product.productName}"></h3>
        <div class="priceDiv">
            <label class="priceInfo">Pret</label>
            <strong><span th:text="${product.price}"> </span></strong><span> Lei</span>
        </div><!--End PRICE DIV-->
        <div class="stockDiv" th:if="${product.stock == 0}">
            <em><span>Produs indisponibil</span></em>
        </div>
        <div class="stockDiv" th:unless="${product.stock == 0}">
            <em><span>Produs disponibil</span></em>
        </div>

        <div class="btnBox">
            <button class="openmodal" onclick="openMyModal()">Mai multe informații</button>
            <div class="by-container" th:if="${product.stock != 0}">
                <button class="byBtn" type="submit">
                    <a href="#" th:href="@{/by/product/{idProduct}(idProduct=${product.idProduct})}"  th:disabled="${product.stock == 0}">
                        <i class="fas fa-cart-arrow-down">Adaugă în coș</i>
                    </a>
                </button>
            </div><!--***End by-container***-->
        </div>

        <div class="modal myModal">
            <!-- The Modal -->
            <div class="modalContent">
                <!-- Modal content -->
                <span class="close">&times;</span>
                <h3 th:text="${product.productName}"></h3>
                <div class="row">
                    <div class="col">
                        <div class="imgModal">
                            <img class="modalImg" th:src="*{'data:image/jpg;base64,'+ product.imageAsString}"  alt="Picture missing..."/>
                        </div>
                    </div><!--End col-->

                    <div class="col">
                        <div class="myDiv">
                            <label>Preț:&nbsp;</label>
                            <strong><span th:text="${product.price}"></span></strong><em><span> Lei</span></em>
                        </div>

                        <div class="myDiv">
                            <label>Descriere produs</label>
                            <strong><span  th:text="${product.description}"></span></strong>
                        </div>

                        <div class="myDiv">
                            <label>Origine: </label><strong><span th:text="${product.origin}"></span></strong>
                        </div>

                        <div class="stock" th:if="${product.stock == 0}">
                            <em><span>Produs indisponibil </span></em>
                        </div>

                        <div class="stock" th:unless="${product.stock == 0}">
                            <em><span>Produs disponibil </span></em>
                        </div>
                    </div><!--End Col-->
                </div><!--END row-->
                <div class="byButton">
                    <button class="modalByBtn">
                        <a href="#" th:href="@{/by/product/{idProduct}(idProduct=${product.idProduct})}"  th:disabled="${product.stock == 0}">
                            <i class="fas fa-cart-arrow-down">Adaugă în coș</i>
                        </a>
                    </button>
                </div>
            </div><!--**END Modal content-->
        </div><!--End MODAl myModal-->

    </div><!--END COLUMN-->

</main>


</body>
</html>