<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/register.css" th:href="@{/css/register.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300;1,400&family=Noto+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap">
    <script asyn defer src="script.js" th:src="@{/js/script.js}"></script>

</head>
<body>
<!--
<div class="container">
    <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid username or
            password.</div>
    </div>

    logout message -->
<!--
    <div th:if="${param.logout}">
        <div class="alert alert-info">You have been logged out.</div>
    </div>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <fieldset>
            <legend>LogIn  </legend>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" name="username" placeholder="@Email Or Username" required/>-->
                <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>-->
<!--
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" name="password"   id="pwd" placeholder="Password" required/>

                <span>
                        <i class="fa fa-eye icon"  type="button" id="eye"></i>
                     </span>
            </div>
            <button type="submit" class="btn">
                <i class="fas fa-sign-in-alt ">LogIn</i>
            </button>
        </fieldset>
    </form>
    <div class="signup-container">
        <span>Esti nou?</span>&nbsp;&nbsp;&nbsp;
        <a class="link-a" href="#" th:href="@{/customer/registration}">
            <i class="fas fa-user-plus"><span class="link-span">&nbsp;Inregistrare</span> </i>
        </a>
    </div>--><!--End Signup container-->

<!--</div>End container-->
<div class="container">

        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.</div>
        </div>

        <!--logout message -->
        <div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>
            <div class="loginContainer">
                <form method="post" th:action="@{/login}" th:object="${user}">
                    <fieldset>
                        <legend>LogIn</legend>
                        <div class="loginLabelsContainer">
                            <label>Username</label>
                        </div>
                        <div class="loginInputContainer">

                            <i class="bi bi-envelope-fill icon"></i>
                            <input class="loginInputField" type="text" title="Login with email" name="username" placeholder="@Email Or Username" required/>
                            <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>-->
                </div>
                <div class="loginInputContainer">
                    <i class="bi bi-lock-fill icon"></i>
                    <input class="loginInputField" type="password" name="password"   id="pwd" placeholder="Password" required/>
                    <i class="bi bi-eye-fill icon"  type="button"  onclick="togglePassword()"></i>

                </div>
                <button type="submit" class="btn" id="loginBtn">
                    <i class="bi bi-box-arrow-in-right iconS">LogIn</i>
                </button>
            </fieldset>
        </form>
    </div>
    <div class="signUpContainer">
        <p>Ești nou?
            <a href="#" th:href="@{/customer/registration}">

                <i class="bi bi-person-plus-fill"><span class="link-span"> Înregistrare</span> </i>
            </a>
        </p>

    </div>
    <div class="forgotContainer">
        <fieldset>
            <legend>Ai uitat parola?</legend>
            <form method="get" th:action="@{/customer/update/form}" th:object="${customer}">
                <input type="text" placeholder="Editeaza utilizator @email" name="email" required title="Introdu adresa de email te rog" />
                <button class="btn"><i class="bi bi-binoculars-fill iconF"></i></button>

            </form>
        </fieldset>

    </div>
</div><!--END CONTAINER-->

</body>
</html>
